@using SUPEN_Projekt.Models
@model ViewModel

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm()) {
	@Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "datepicker", @Value = "Välj datum" } })

	@Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "starttime", @Value = "Klicka och välj en starttid"} })
	@Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "endtime", @Value = "Klicka och välj en sluttid"}})

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
	<link href="~/Scripts/js/jquery.timepicker.min.css" rel="stylesheet" />
}



@section scripts{
	<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

	<script>
		$(function () {
			$(".datepicker").datepicker({
				dateFormat: "yy-mm-dd",
				changeMonth: true,
				changeYear: true,
				yearRange: "2019:2025",
				showOn: "both",
				buttonText: "<i class= 'fa fa-calendar'></>"
			});
		})
	</script>

	<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
	<script src="~/Scripts/js/jquery.timepicker.js"></script>
	<script>
		$(".starttime").timepicker({
			'minTime': '8:00',
			'maxTime': '16:30',
		});

		$(".endtime").timepicker({
			'minTime': '8:30',
			'maxTime': '17:00'
		});

	</script>
}
