@model SUPEN_Projekt.Logic.BookingsViewModel

@{
    ViewBag.Title = "Bokningar";
}

<h2>Bokningar</h2>

<p>
    @Html.ActionLink("Skapa ny bokning", "Create")
</p>
<table class="table">
    <tr>
        <th>
         
        </th>
    </tr>


    @foreach (var item in Model.bookings)
    {
        if (item.UserName != null) { 
    <tr>
        <td>
            @item.UserName
        </td>
    </tr>
        }
    }


</table>
