body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.no-Border {
    border: none !important;
}

.no-Background {
    background: none !important;
}

.small-margin {
    margin: 4px;
}

.right-border-gray {
    border-right: outset;
    border-width: thin;
    border-color: darkgray;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.elementLink {
    display: block;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



#firstDiv {
    width: 200px;
    height: 200px;
    float: left;
}

#secondDiv {
    width: 200px;
    height: 400px;
    float: right;
    margin-right: 400px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.width-wide {
    width: 45%;
    min-width: 300px;
}

.company-info-box-1 {
    height: 80%;
    width: 40%;
    top: 0;
    right: 0;
    margin: 1% 7% 1% auto;
    padding: 10px;
    word-wrap: break-word;
    font-size: 90%;
    float: right;
}

.company-info-box-2 {
    height: 80%;
    width: 40%;
    margin: 2% 0 2% 2%;
    padding: 10px;
    word-wrap: break-word;
    font-size: 90%;
    display: inline-block;
}
.about-us-image {
    background-repeat: no-repeat;
    background-position-x: center;
}
.om-oss {
    width: 60%;
   
}
.small-title {
    font-size: 17pt;
}
.body-text {
    font-size: 15pt;
}
@media only screen and (max-width: 768px) {
    .small-title {
        font-size: 22pt;
    }
    .body-text {
        font-size:20pt;
    }

    .om-oss {
    width:95%;
    min-width:200px;
    margin:auto;
    }
    .width-wide {
        width: 90%;
        min-width: 300px;
        padding: 10px;
        word-wrap: break-word;
        font-size: 90%;
        margin: auto;
    }
    .about-us-image {
        background-repeat: no-repeat;
        background-position-x: center;
        width:80%;
        height:auto;
        margin:auto;
    }
    .company-info-box-1 {
        width: 90%;
        min-width: 300px;
        padding: 10px;
        word-wrap: break-word;
        font-size: 90%;
        float: none;
        margin: auto;
    }

    .company-info-box-2 {
        width: 95%;
        min-width: 300px;
        padding: 10px;
        word-wrap: break-word;
        font-size: 90%;
        margin: auto;
        display: block;
    }

    .align-center {
        margin: auto;
    }
}
