@model SUPEN_Projekt.Models.BookingSystem


<div class="list-group">
    <a href="#" class="list-group-item"><h4>@Html.DisplayFor(model => model.CompanyName)</h4></a>
    <a href="#" class="list-group-item"><h4>@Html.DisplayFor(model => model.SystemDescription)</h4></a>
    
</div>





