@model SUPEN_Projekt.Models.BookingSystem

@using (Html.BeginForm(new { id = Model.BookingSystemId} ))
{
    @Html.AntiForgeryToken()
    <p>You are now going to book @Model.Services.Single().ServiceName</p>
    <div class="form-actions no-color">
        <input type="submit" value="Confirm" class="btn btn-default" /> 
        @Html.ActionLink("Cancel", "Index3", new { id = Model.BookingSystemId}, null)
    </div>
}