
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="footer" style="position:fixed; border-top: 1px solid #E7E7E7; right: 0; bottom: 0; left: 0; padding: 1rem; height: 10%; background-color:#efefef; text-align:left;">
	<h6><strong>Systemutvecklingsprojekt vårterminen 2019</strong></h6>
	<h6>Studenter: Henrik Schön, Malin Nehr-Ghennam, Yasmin Kamil</h6>
	<h6>Ⓒ Systemutvecklingsprojekt 2019, Örebro Universitet</h6>
</div>