@model SUPEN_Projekt.Logic.ViewModels.ServiceViewModel
  

@{
    ViewBag.Title = "ServiceSuggestion";
}
@if (Model.serviceName != null)
{

    <div class="list-group service-distance-h4">
        <a href="#" class="list-group-item">
            <h5 class="list-group-item-text text-capitalize"><strong class="list-group-item-text" style="right:2%">@Html.DisplayFor(model => model.bookingSystemName)</strong></h5>
            <p class="list-group-item-text">@Html.DisplayFor(model => model.serviceName)</p>
            <p class="list-group-item-text">  @Model.startTime.ToString("HH:mm") -   @Model.endTime.ToString("HH:mm")</p>
        </a>
      
    </div>

}                     