@{
	ViewBag.Title = "About";
}
<link href="~/Content/Site.css" rel="stylesheet" />
	<body class="about-us-image" style="background:url(/Content/images/startsida.png) no-repeat; background-position-x:center;  ">
	</body>