@{
    ViewBag.Title = "About";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<body class="about-us-image" style="background-image:url(/Content/images/startsida.png);  ">
   
    
</body>
  





